{% extends "base.html" %}
{% block title %} Home{% endblock%}
{% block tablename %} 
    <div class="table-head"></div>
        <p>
            The University Facility Management team is in charge of 100 university multi floor buildings. For planning
        purposes(future expansion or re-allocation), the management team needs to generate reports to university
        administration on current space utilization and make any recommendations for future space utilization. A database
        will be used to record current information about each building. It will track assigned and available space in each
        building on each floor. Allocations to all university departments will be identified with the different types of spaces
        using a database driven website. 
        </p>
        <p>
            Please use the tabs at the top of the page to navigate to the various table views.
        </p>
    </div>
{% endblock %}
