{% extends "base.html" %}
{% block title %} Rooms {% endblock%}

{% block tablename %} 
    <div class="table-head"></div>
        <span class="tablename"> 
            <h2>Rooms</h2>
         </span>
        <span class="header_buttons">
            <a href="{{url_for('add_new_room')}}" class="btn btn-success">
                    Add New Room
            </a>
        </span>
    </div>
{% endblock %}


{% block table %}
<table>
    <tr>
        <th>ID</th>
        <th>Space Type</th>
        <th>Room Number</th>
        <th>Room Sq.Ft.</th>
        <th>Department</th>
        <th>Floor</th>
        <th>Building</th>
        <th></th>
    </tr>

    {% for row in data %}    
      <tr>
          {% for cell in row %}
          <td>{{row[cell]}}</td>
          {% endfor %}
          
          <td>
              <button type="button" class="button" onclick="window.location ='/edit_room/{{row['room_id']}}'">
                  <i class="fa-solid fa-pen"></i>
              </button>
              
              <button type="button" class="button" onclick="window.location ='/delete_room/{{row['room_id']}}'">
                <i class="fa-solid fa-trash"></i>
              </button>
          </td>
      </tr> 
    {% endfor %}
</table> 
{%endblock%}

{% block form_validation%}
        <!-- Script for form validation-->
        <script>

          // There are many ways to pick a DOM node; here we get the form itself and the email
          // input box, as well as the span element into which we will place the error message.
          const form  = document.getElementsByTagName('form')[0];
          const rows = document.getElementsByTagName('tr');
          const id = document.getElementById('room_id')

          const name = document.getElementById('number');
          const nameError = document.querySelector('#number + span.error');

          const squareFeet = document.getElementById('squareFeet');
          const squareFeetError = document.querySelector('#squareFeet + span.error');

          const floor = document.getElementById('floor_id');
          const floorError = document.querySelector('#floor_id + span.error');

          var formValidity = true

          name.addEventListener('input', function (event) {
            if (name.validity.valid) {
              nameError.textContent = ''; // Reset the content of the message
              nameError.className = 'error'; // Reset the visual state of the message
            } else {
              showNameError();
            }
          });

          squareFeet.addEventListener('input', function (event) {
            if (squareFeet.validity.valid) {
              squareFeetError.textContent = ''; // Reset the content of the message
              squareFeetError.className = 'error'; // Reset the visual state of the message
            } else {
              showSquareFeetError();
            }
          });

          floor.addEventListener('input', function (event) {
            if (floor.validity.valid) {
              floorError.textContent = ''; // Reset the content of the message
              floorError.className = 'error'; // Reset the visual state of the message
            } else {
              showFloorError();
            }
          });

          
          form.addEventListener('submit', function (event) {
            if(!name.validity.valid) {
              // If it isn't, we display an appropriate error message
              showNameError();
              formValidity = false
            } else {
                for (const r of rows){
                if (r.cells[2].innerText === name.value) {
                  if (id.value === 'None'){
                  nameError.textContent = 'Building with this name already exist, name must be unique';
                  nameError.className = 'error active';
                  formValidity = false
                  break;
                  } else if (r.cells[0].innerText !== id.value) {
                  nameError.textContent = 'Building with this name already exist, name must be unique';
                  nameError.className = 'error active';
                  formValidity = false
                  break;
                  }
                }
              }
            }

            if(!squareFeet.validity.valid) {
              // If it isn't, we display an appropriate error message
              showSquareFeetError();
              formValidity = false
            }

            if(!floor.validity.valid) {
              // If it isn't, we display an appropriate error message
              showFloorError();
              formValidity = false
            }

            console.log(formValidity)
            if (formValidity === false ){
              event.preventDefault();
              formValidity = true
            }
          });
          

          function showNameError() {
            if(name.validity.valueMissing) {
              nameError.textContent = 'Room Number is a required field';
            } 
            // Set the styling appropriately
            nameError.className = 'error active';
          }
          
          function showSquareFeetError() {
            if(squareFeet.validity.valueMissing) {
                squareFeetError.textContent = 'Square Feet is a required field';
            } 
            // Set the styling appropriately
            squareFeetError.className = 'error active';
          }

          function showFloorError() {
            if(floor.validity.valueMissing) {
              floorError.textContent = 'Floor is a required field. Select building first';
            } 
            // Set the styling appropriately
            floorError.className = 'error active';
          }

          </script>

{%endblock%}