{% extends "rooms.html" %}

{%block add_modal %}
 <!-- Add Modal -->
 <div class="modal" id="add_room_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Room</h5>
        </div>

        <div class="modal-body">
          <form id="add_new_room" action="/add_new_room" method="post" novalidate>

            <input type="text" hidden id="room_id" value = "None">
            <div class="mb-3">
                <label for="room_number" class="col-form-label">Room Number:</label>
                <input type="text" class="form-control" id="number" name="room_number" required>
                <span class="error" aria-live="polite"></span>
            </div>

            <div class="mb-3">
                <label for="room_sqft" class="col-form-label">Room Square Feet:</label>
                <input type="number" class="form-control" id="squareFeet" name="room_sqft" required>
                <span class="error" aria-live="polite"></span>
            </div>

            <div class="mb-3">
              <label for="build_id" class="col-form-label">Associated Building:</label>
              <select class="form-select" id="build_id" name="build_id">
                  <option disabled selected hidden>Choose...</option>
                  {% for b in buildings %}
                  <option value="{{b['build_id']}}">{{b['build_name']}} </option>
                  {% endfor %}
              </select>
          </div>

            <div class="mb-3">
                <label for="floor_id" class="col-form-label">Associated Floor:</label>
                <select class="form-select" id="floor_id" name="floor_id" required>
                    <option value="" disabled selected hidden>Choose Building First...</option>
                </select>
                <span class="error" aria-live="polite"></span>
            </div>

            <div class="mb-3">
                <label for="department_id" class="col-form-label">Associated Department:</label>
                <select class="form-select" id="department_id" name="department_id">
                    <option  selected hidden value="">Choose...</option>
                    {% for d in departments %}
                    <option value="{{d['department_id']}}">{{d['department_name']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
              <label for="spacetype_id" class="col-form-label">Spacetype:</label>
              <select class="form-select" id="spacetype_id" name="spacetype_id">
                  <option selected hidden value="">Choose...</option>
                  {% for sp in spacetypes %}
                  <option value="{{sp['spacetype_id']}}">{{sp['spacetype_name']}}</option>
                  {% endfor %}
              </select>
          </div>

            <div class="modal-footer">
                <a href="rooms" class="btn btn-secondary">Close</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>

          <script>
            let building_select = document.getElementById('build_id');
            let floor_select = document.getElementById('floor_id');
          
            building_select.onchange = function() {
              build_id = building_select.value;
              fetch('/floors/'+build_id).then(function(response){
                
                response.json().then(function(data){
                  console.table(data)
                  let optionHTML = '';

                  for (let f of data.floors) {
                    optionHTML += '<option value ="' + f.id + '">' + f.name + '</option>'
                  }

                  floor_select.innerHTML = optionHTML;
                })
              });
            }
          </script>

        </div>
      </div>
    </div>
  </div>
{%endblock%}

{% block add_script %}
<script>
    $(document).ready(function(){
        console.log("window is loaded")
        $("#add_room_modal").modal("show")
    })
</script>
{%endblock%}